*{ margin:0; padding:0;}
/**/
.lt {/*【整体之左】聊天*/
	width:600px;
	height:990px;
	float:left;
	position:fixed;
	background-color:#99ddcc;
}

.lt_top{/*【整体之左】聊天导航栏*/
	width:600px;
	height:60px;
	background-color:#92e6e6;
	text-align:center;
	line-height:60px;
	font-size:35px;	
}

.lt_lt {/*【整体之左】聊天框*/
	width:580px;
	height:900px;
	margin:10px;
	background-color:#eff0f4;
	text-align:center;
}
.lt_xx {/*【整体之左】聊天框里的标题头 消息 联系人*/
	
	width:580px;
	height:50px;
	background-color:f0f0f0;
}
.lt_xx li{
	list-style-type:none; 
	float:left;
	margin:0 120px;
	line-height:50px;
}
.lt_xx li a{
	list-style-type:none;
	color:#20c1bd;
	text-decoration:none;
}
.lt_xx li a:hover{
	
}
.lt_lt_lt{
	text-align:center;
	width:580px;
	line-height:40px;
	background-color:#f7f7f7;
	font-size:20px;
	color:#33354a;
	
}

















.xxg {/*【整体之右】右边盒子*/
	margin-left:605px;
}

.xxg_top {/*【整体之右】顶部浮空盒子*/
	
	width:100%;
	height:60px;
	background-color:#DC9FB4;	
}
.xxg_top_menu {/*【整体之右】顶部导航栏*/
	width:980px;
	height:60px;
	margin:0 auto;
}
.xxg_top_menu li{
	list-style-type:none;
	text-align:center;
		line-height:60px;
	font-size:25px;
	float:left;
	margin:0 20px;
}
.xxg_top_menu li a{
	display:block;
	text-decoration:none;
	color:#203541;
}
.xxg_top_menu li a:hover{
		color:#616161;
}
.main {/*【整体之右】【身体】盒子*/
	width:1000px;
	height:auto;
	background-color:#bad7df;
	margin:5px auto;
}


.main_mid {/*【身体】中间*/
	width:620px;
	min-height:250px;
	margin:10px 0 10px 10px;
	background-color:#606470;
	float:left;
}


	
	
	
.xx {/*【身体】中间发布框*/
	width:600px;
	line-height:250px;

	margin:10px auto;
	background-color:#faf7ff;
	text-align:center;
}


.main_right {/*【身体】右边侧导航栏*/
	width:150px;
	#height:910px;
	margin:10px;
	background-color:#fceaea;
	float:right;
	
}	
.main_right p{
	width:130px;
	line-height:30px;
	text-align:center;
	margin:10px;
	background-color:#F8C3CD;
}
.main_right li {
	list-style-type:none;
	width:130px;
	height:30px;
	margin:10px;
	background-color:#F8C3CD;
	text-align:center;
}	
.main_right li a
{
	display:block;
	color:#33354a;
	text-decoration:none;
	background-color:74dac6;
	width:130px;
	line-height:30px;
	margin:0px;
	padding:0px;

}
.main_right li a:hover
{	
	color:#74dac6;
	background-color:#E87A90;
}
	

.main_left {/*【身体】左边*/
	width:180px;
	background-color:#4ecca3;
	margin:10px;
	float:left;		
}	
.main_left li {/*【身体】 左边 侧导航栏*/
	list-style-type:none;
	text-align:center;
	margin:10px;
}
.main_left li a{
	width:160px;
	line-height:30px;
	display:block;
	background-color:#60efb8;
	color:#f6f6f6;
	text-decoration:none;
}
.main_left li a:hover{
	background-color:#74dac6;
	color:#8aae92;
}
	
	
/*搜索栏！*/	
.ssl{
	width:255px;
	height:40px;
	background-color:#fff;
	float:left;
	margin:10px;
}
.ssl_text{
	font-size:20px;
	margin:6px 5px 5px 5px;
	width:200px;
	height:28px;
	border:0;
	float:left;
	outline:none;/*去除高亮部分*/
	background-color:#eeeeee;
}
.ssl_button{
	border:0;
	background:url(../images/搜索.png) no-repeat;
	background-size:30px 30px;/*设置背景图片的尺寸*/
	width:30px;
	height:30px;
	margin:4px;
	float:left;
}	
	
	
	