.notice{
    width: 298px;
    height:98px;
    margin: 10px;
    border:1px solid #eee;
    overflow:hidden;
    list-style: none;
    font-size:12px;}
.notice-tit{
    height: 27px;
    position: relative;
    background: #f7f7f7;}
.notice-tit ul{
    position: absolute;
    width: 300px;
    left:-1px;}
.notice-tit li{
    float: left;
    width:58px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    background-color: #f7f7f7;
    border-bottom:1px solid #eee;
    padding: 0 1px;}
.notice-tit li.select{
    background-color: #fff;
    border-bottom-color: #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 0;
    font-weight: bolder;}
.notice li a:link, .notice li a:visited{
    text-decoration: none;
    color:#000;}
.notice li a:hover{
    color:#f90;}
.mod{
    margin:10px 10px 10px 19px;}
.mod ul li{
    float: left;
    width: 134px;
    height: 25px;
    overflow: hidden;}

    
/* xxg */
.tab{
    width:500px;
    height: 300px;
    margin:10px;
    overflow:hidden;
    box-sizing:border-box;
    border: 2px solid #eee;}
.tab-head{
    width:500px;
    height:50px;
    background-color: aqua;
    position: relative;
    left:-1px;}
.tab-head li{
    list-style-type: none;
    width:96px;
    height: 50px;
    line-height: 50px;
    text-align:center;
    padding: 0 2px;
    float: left;
    background-color: #eee;
    border-bottom: 2px solid #eee;}
.tab li a{
    text-decoration:none;
    color: #000;}
.tab li a:hover{
    color: #f90;}
.tab-head li.ss{
    background-color: #fff;
    border-bottom-color: #fff;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    padding:0;
    font-weight: bolder;}
.tab-mod{
    margin: 50px 10px 10px 19px;}
.tab-mod ul li{
    float: left;
    width: 230px;
    height: 100px;
    font-size: 30px;
    overflow: hidden;}






/* 延迟yc */
.tab-yc{
    width: 496px;
    height: 296px;
    border: 2px solid #eee;
    overflow: hidden;}
.yc-head{
    width: 500px;
    height: 50px;
    position: relative;
    left: -2px;}
.yc-head li{
    float: left;
    list-style-type: none;
    width: 96px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0 2px;
    background-color: #eee;}
.yc-head li.ycss{
    padding: 0;
    font-weight: bolder;
    background-color: #fff;
    border-left:  2px solid #eee;
    border-right:  2px solid #eee;}
.yc-head a{
    text-decoration: none;
    color: #000;}
.yc-head a:hover{
    color: #f90;}

.yc-body{
    width: 496px;
    height: 246px;}
.yc-con{
    width: 496px;
    height:246px;}
.yc-con li{
    float: left;
    width: 248px;
    height: 82px;
    line-height: 82px;
    text-align: center;  }
.yc-con li a{
    font-size: 30px;
    text-decoration:none;
    color: #000;}
.yc-con li a:hover{
    color: #f90;
}


/* 自动zd */
.tab-zd{
    width: 496px;
    height: 296px;
    border: 2px solid #eee;
    overflow: hidden;}
.zd-head{
    width: 500px;
    height: 50px;
    position: relative;
    left: -2px;}
.zd-head li{
    float: left;
    list-style-type: none;
    width: 96px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0 2px;
    background-color: #eee;}
.zd-head li.zdss{
    padding: 0;
    font-weight: bolder;
    background-color: #fff;
    border-left:  2px solid #eee;
    border-right:  2px solid #eee;}
.zd-head a{
    text-decoration: none;
    color: #000;}
.zd-head a:hover{
    color: #f90;}

.zd-body{
    width: 496px;
    height: 246px;}
.zd-con{
    width: 496px;
    height:246px;}
.zd-con li{
    float: left;
    width: 248px;
    height: 82px;
    line-height: 82px;
    text-align: center;  }
.zd-con li a{
    font-size: 30px;
    text-decoration:none;
    color: #000;}
.zd-con li a:hover{
    color: #f90;
}


















