* { margin:0; padding:0;}
a { text-decoration:none; color: black;}
/* body { width:100%; background: url(../img/yys.jpg); background-size:100%;} */
body{ background-color: rgb(31, 31, 31)}


/* 顶部的一个导航栏 */
.nav-top {
    width:100%;
    height: 60px;
    position: fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbox-min{
    max-width: 930px;
    min-width:625px;
    width: auto;
    margin:auto;
    height: 60px;
    overflow: hidden;
}
/* logo */
.logo{
    width:36px;
    height:36px;
    margin:12px;
    float: left;
}
/* 头像 */
.hp img {
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin: 5px; 
    float: right; 
}
.hp p {
    margin-right: 10px;
    float: right;
    line-height: 60px;
    font-size:20px;
    color: aliceblue;
}

/* 搜索框 */
.searchbox{
    width: 240px;
    height:60px;
    float: left;
    position: absolute;
    left: 50%;
    margin-left:-120px;
}
.search{
    width: 240px;
    height: 30px;
    margin: 15px 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3)
}






.main{
    min-width: 625px;
    max-width: 930px;
    width:auto;
    min-height: 1000px;
    margin: auto;
    margin-top: 60px;
    overflow: ;
}
.m-left{
    max-width: 558px;
    width: auto;
    min-height: 500px;
    float: left;
}
/* 发布出来的照片 */
.m-photos{
    max-width:558px;
    min-height: 100px;
    margin-top: 30px;
    border-radius: 50 px;
    overflow: hidden;
    border: 1px solid white;
}
.photos-top{
    width:100%;
    height: 50px;
    background-color:  aliceblue;;
}
.photos-top .uers{
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 1px solid black;
    margin: 4px 10px;
    float: left;
}
.photos-top .uers-name{
    font-size: 20px;
    line-height: 50px;
}
.photo{
    width: 100%;
}
.photos-buttom{
    widows:100%;
    height: 50px;
    background-color: aliceblue;
}


.m-right{

    width: 35%;
    min-height: 400px;
    margin-top: 30px;
    margin-left: 5%;
    background-color: rgb(255, 255, 255);
    float: left;
    border-radius: 5px;
}

