* { margin: 0; padding:0;}
/* li { list-style:none;} */
.t-mid{ text-align: center; }
body{ background-color: slategray;}
#app {
    width:1000px;
    min-height:1000px;
    /* background-color: aqua; */
    margin:auto;
}

.h-1{
        margin:10px;
        color: aliceblue;
}


#app2{
    width: 370px;
    min-height:30px;
    /* background-color: blue; */
    margin: auto;
}
#input-1 {
    width: 280px;
    line-height: 30px;
    border: 0;
    border-radius:3px;
    float: left;
    margin: 0 5px;
    padding: 0 10px;
}
#button-1 {
    width: 50px;
    line-height: 30px;
    border: 0;
    border-radius:3px;
    background-color: cadetblue;
    font-size:30px;
    float: left;
    margin: 0 5px;
}



#goto, #okto{
    width: 380px;
    min-height: 500px;
    background-color: lightsteelblue;
    margin: 30px;
    padding: 10px 30px;
    float: left;
    border-radius: 5px;
}

.p-1 {
    color: aliceblue;
    font-size: 20px;
}
