<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加法vue</title>

    <script src="Vue/vue.min.js"></script>
</head>
<body>
    
    <div id="app">
        <input v-model="x1" />
            +
        <input v-model="x2" />
        <button @click="com"> = </button>
        <samp v-text="x3"></samp>
    </div>

    <script>

        var vm = new Vue ({
            el: "#app",
            data: {
                x1:'',
                x2:'',
                x3:'',
            },
            methods:{
                com:function(){
                    this.x3 = parseInt(this.x1) + parseInt(this.x2)
                }
            },
           watch:{
               x1:function(){
                this.x3 = parseInt(0+this.x1) + parseInt(0+this.x2)
               },
               x2:function(){
                this.x3 = parseInt(0+this.x1) + parseInt(0+this.x2)
               },
           }
        })

    </script>
</body>
</html>